body{
  background-color: #000;
  color: black;
  font-family: 'Lato', sans-serif;
}

/* navigation bar */
.navSearchItems{
  margin-right: 20px;
  font-weight: bold;
}
.navSearchItems a {
  text-decoration: none;
  color: black;
  font-size: 1.0rem;
  margin: 0 10px;
}
.navSearchItems a:hover {
  color: #F26BAC
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

nav h1 {
  font-size: 4rem;
  padding: 10px 0;
  padding-left: 20px;
  width: auto;
  font-weight: bold;
  margin-left: 10px;
  letter-spacing: 6px;
  font-family: 'Anton', sans-serif;
/* font-family: 'Fjalla One', sans-serif; */
}

/* jumbotron */
.jumbotron{
  margin: 30px 15px;
  border-radius: 0%;
  background-color: white;
  margin-bottom: 0;
}
.subtitle{
  text-align: center;
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Fjalla One', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-weight: bolder; */
  text-shadow: -0.06em -0.04em rgb(255, 179, 179),  0.06em 0.04em rgb(179, 235, 250); 
}
/* about me */
#aboutTitle{
  margin-top: 70px;
  margin-bottom: 70px;
}
#pic{
  width: 302.4px;
  height: 403.2px;
}
/* portfolio */
#portfolioPage{
  margin-top: 0;
}
#portfolioTitle{
  margin-bottom: 70px;
  margin-top:40px;
}
.card-img-top{
  width: 308.67px;
  height: 197.5px;
}
#bottomCard{
margin-bottom: 140px;
}

/* footer */
#contactJumbotron{
margin-top:0;
background-color: black;
}
#contactInfo{
  color: white;
}
form {
  margin-bottom: 100px;
}
